@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style:none;
  font-family: 'Inter', sans-serif;
  font-size: 62.5%;
}
/* 
font sizes
3.052rem
2.441rem
1.953rem
1.563rem
1.25rem
1rem
 */
h1, .titleFont{
  font-size: 3.052rem;
  font-weight: 800;
}
h2{
  font-size: 2.441rem;
  font-weight: 800;
}
h3, label{
  font-size: 1.563rem;
  font-weight: 800;
}
p,span,a{
  font-size: 1.563rem;
  font-weight: 400;
}
input,textarea{
  font-size: 1.25rem;
  font-weight: 400;
}

.loginHead{
  padding: 1rem 3rem;
  text-align: center;
}
/* :root {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
} */
.imageSpace{
  background-color: #006DAA;
  border-radius: 5px;
}
a.imageLink{
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.editDeleteSec{
  width: 100%;
}
.indexBox{
    display: flex;
    flex-direction: column;
    top: 5rem;
    padding: 1rem 3rem;
    position: relative;
    align-items: center;
}
.soloPost{
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    position: relative;
    align-items: center;
}
.loginSec{
  width: 100%;
}
.loginForm{
  width: 30%;
  margin: 0 auto;
}

.muted {
  color: #006DAA;
}

.userInfoSec{
  display: flex;
  flex-direction: column;
}
.captionEdit{
  width: 75%;
  margin: auto;
}
.marginB{
  margin-bottom: 1rem;
}
.marginT{
  margin-top: 1rem;
}
body {
  background: transparent; 
  min-height: 100vh;
}
.headTitle{
  position: fixed;
  background-color: rgb(255, 255, 255);
  min-width: 75%;
  left: 25%;
  z-index: 10;
  padding: 1rem 3rem;
}

.img-fluid {
  border-radius: 5px;
  width: 75%;
}

.caption, .postTitle {
  text-align: left;
}
.home{
    display: flex;
    /* background-size: 100%;
    border-radius: 15px; */
}

.feed, .navigation {
  background-repeat: repeat-x;
  padding: 1.5rem;
}
.feed{
  width: 75%;
  position: relative;
  left: 25%;
  margin-top: 5rem;
  text-align: center;
}
.navigation{
    background-color: rgba(240, 240, 25,0.8);
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    min-height: 100vh;
    z-index: 100;
}

.navigation > h1 {
  margin: 10px;
}

.username, .email {
  display: inline;
}

.username {
  color: #061A40;
}

form {
  max-width: 100%;  
}
input, textarea{
  display: block;
  width: 100%;
}

form > h2 {
 text-align: left;
 margin: 20px 0;
}

.form-label {
  color: #000;
}

.form-text{
  color: rgb(61, 21, 126);
}

a{
  color: black;
  text-decoration: none;
}

.btn-primary:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.logout {
  border: 3px solid #0353A4;
  background-color: #006DAA;
  border-radius: 3px;
  padding: 1rem;
}

.logout:hover {
  background: #fff;
}

.btn-primary {
  text-align: center;
  color: rgb(39, 129, 164);
  background-color: white;
  border: 3px solid rgb(39, 129, 164);
  border-radius: 5px;
  width: 3rem;
  height: 2.5rem;
}
.submit{
  width: 8rem;
  height: 3rem;
}

.indexBtn{
  background-color: white;
  border: 3px solid rgb(39, 129, 164);
  border-radius: 3px;
  text-align: center;
  color: rgb(39, 129, 164);
  padding: 1rem 0;
  display: inline-block;
  width: 6rem;
}
.postInfoSec{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 @media(max-width: 768px){
  .loginForm{
    width: 50%;
  }
}
@media(max-width: 800px){
  .home{
    flex-direction: column;
  }
  .feed{
    width: 100%;
    position: relative;
    left: 0;
    margin-top: 40rem;
    text-align: center;
  }
  .navigation{
    background-color: rgba(240, 240, 25,0.8);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; 
    position: fixed;
    min-height: 0;
    z-index: 100;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
h1, .titleFont{
  font-size: 2.441rem;
  font-weight: 600;
}
h2{
  font-size: 1.563rem;
  font-weight: 600;
}
h3, label{
  font-size: 1.563rem;
  font-weight: 800;
}
p,span,a{
  font-size: 1.25rem;
  font-weight: 400;
}
input,textarea{
  font-size: 1rem;
  font-weight: 400;
}
}
    
@media (max-width: 552px){

  .loginForm{
    width: 75%;
  }
}