@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style:none;
  font-family: 'Inter', sans-serif;
}

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  max-height: 100vh;
}


h1 {
  font-size: 4.236rem;
}
/* h2{
  font-size: 2.618rem;
} */
h2{
  font-weight: 800;
}
h2,h3,p,span{
  font-size: 1.618rem;
}
label,a,button{
  font-size: 1rem;
}
p,span{
  font-weight: 400;
}
.loginHead{
  padding: 1rem 3rem;
  text-align: center;
}


.indexBox{
    display: flex;
    flex-direction: column;
    top: 5rem;
    padding: 1rem 3rem;
    position: relative;
    align-items: center;
}

.loginSec{
  width: 100%;
}
.loginForm{
  width: 30%;
  margin: 0 auto;
}

.muted {
  color: #808080;
}



html{
  /* background: url(images/Animated.gif) no-repeat center;
  -webkit-background-size: cover; 
   -moz-background-size: cover;   
  -o-background-size: cover;  
   background-size: cover;   */
     
}
.userInfoSec{
  display: flex;
  flex-direction: column;
}
.captionEdit{
  width: 75%;
  margin: auto;
}
.marginB{
  margin-bottom: 1rem;
}
.marginT{
  margin-top: 1rem;
}
body {
  /* margin: 100px; */
  /* margin: 5rem; */
  background: transparent; 
  min-height: 100vh;
}

header {
  /* margin: 20px; */
}
.headTitle{
  position: fixed;
  background-color: rgb(255, 255, 255);
  min-width: 75%;
  left: 25%;
  /* text-align: center; */
  z-index: 10;
  padding: 1rem 3rem;
}

.img-fluid {
  /* margin-left: 50%; */
  border-radius: 5px;
  width: 75%;
}

/* .caption, .likes {

} */
.home{
    display: flex;
    /* flex-flow: column wrap; */
    /* flex-direction:center; */
    /* flex-wrap: wrap; */
    /* align-items:center; */
    /* text-align: center; */
    /* background-color:  rgb(240, 240, 25); */
    background-size: 100%;
    border-radius: 15px;
    /* opacity: 0.8; */
}

.feed, .navigation {
  /* background-color: rgb(240, 240, 25); */
  background-repeat: repeat-x;
  padding: 1.5rem;
  /* text-align: center; */
}
.feed{
  width: 75%;
  position: relative;
  left: 25%;
  margin-top: 5rem;
  text-align: center;
}
.navigation{
    background-color: rgba(240, 240, 25,0.8);
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    min-height: 100vh;
    z-index: 100;
}

.navigation > h1 {
  margin: 10px;
}

.username, .email {
  display: inline;
}

.username {
  color: #061A40;
  /* font-size: 2em; */
}

.email {
  /* font-size: 1em; */
}

form {
  /* margin-top: 2em; */
  max-width: 100%;  
}

#title {
  height: 30px;
}

input, textarea{
  display: block;
  width: 100%;
}

form > h2 {
 text-align: left;
 margin: 20px 0;
}

.form-label {
  color: #000;
}

.form-text{
  color: rgb(61, 21, 126);
}

a{
  color: black;
  text-decoration: none;
}

.logout {
  display: block;
  width: 8rem;
  height: 3rem;

}
/* .btn-primary { 
  display: flex;
  text-align: center;
  color: rgb(39, 129, 164);
  background-color: white;
  border: 3px solid rgb(39, 129, 164);
  border-radius: 3px;
} */

.btn-primary{
  text-align: center;
  color: rgb(39, 129, 164);
  background-color: white;
  border: 3px solid rgb(39, 129, 164);
  border-radius: 3px;
  width: 8rem;
  height: 3rem;
}

.btn-primary:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.form-footer {
  /* display: flex; */
  /* flex-direction: row; */
  /* position: relative; */
}

.submit {
  /* position: absolute; */
}

.logout {
  /* right: 50%; */
  /* position: absolute; */
  /* text-align: center; */
  border: 3px solid #0353A4;
  background-color: #006DAA;
  border-radius: 3px;
  width: 8rem;
  padding: 7px 16px;
  margin-top: 3rem;
}

.logout:hover {
  background: #fff;
}


.indexBtn{
  background-color: white;
  border: 3px solid rgb(39, 129, 164);
  border-radius: 3px;
  text-align: center;
  color: rgb(39, 129, 164);
  padding: 1rem 0;
  display: inline-block;
  width: 6rem;
}


@media all and (min-width: 300px) and (max-width: 768px) {
  .loginForm {
    width: 100%;
  }
  .form-control {
    height: 2rem;  
  }
  h1 {
    padding-top: 1em;
  }
  .home {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }
  .navigation{
    background-color: rgba(240, 240, 25,0.8);
    width: 100%;
    justify-content:space-evenly;
    max-height: fit-content;
    position: relative;
}
  .feed {
    width: 100%;
    max-width: 50%;
  }
  .post-title {
    padding: .5em;
  }
  .img-fluid {
      /* margin-left: 50%; */
      border-radius: 5px;
      width: 100%;
  }
  .caption, .likes {
    font-size: 1em;
  }  
}
